{% extends "master.html" %}

{% load static %}
{% block title %}
<title>My club list of players</title>
{% comment %} <link rel="stylesheet" href="{% static 'mystyles.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
<div class='mycard'>
<h1>Players</h1>
{% if myplayers %}
  <ul>
    {% for x in myplayers %}
    <li onclick="window.location = 'details/{{ x.id }}'">{{ x.firstname }} {{ x.lastname }} {{x.age}}</li>
    {% endfor %}
  </ul>
</div>
{% else %}
  <p>No players found.</p>
{% endif %}
{% endblock %}
